/* CSS declarations go here */
.white-item{
    color: white !important;
}

/* HELPERS */
.center-align{
    text-align: center;
}

.left-align{
    text-align: center;
}
.left{
    text-align: left !important;
}

.commentaire{
  margin: auto;
}

.pseudo-comm{
  text-align: left;
  color: #0094C6;
}

.box-comments{
  text-align: left;
  padding: 20px;
  border: 1px solid grey;
}
.right-align{
    text-align: right;
}

.justify-align{
    text-align: justify;
}

.total-height{
    min-height: 100vh;
}

/* PAGE DISPLAYER */
.page-header{
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* TINYMCE HACK */
.mce-notification{
    display: none !important;
}
